.MuiToolbar-gutters {
  justify-content: flex-end;

  .MuiIconButton-root {
    width: 50px;

    .cart-products {
      position: absolute;
      top: 15%;
      left: 60%;
      display: block;

      font-size: 12px;
      color: #1c8fc7;
      background-color: #e5e3dd;
      padding: 2px;
      width: 16px;
      border-radius: 50%;
    }

    .MuiIconButton-label {
      font-size: 1.5rem;
      color: #c0cbd1;
    }
  }
}
