.product-content {
  width: 95%;
  max-width: 300px;
  height: 100px;
  border-radius: 5px;
  background-color: #e5e3dd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  gap: 10px;
  img {
    width: 80px;
  }
  .product-info {
    display: flex;
    flex-direction: column;

    width: 40%;

    h2 {
      font-size: 14px;
      word-wrap: break-word;
      margin-bottom: 5px;
      height: 35px;

      overflow: hidden;
    }

    span {
      font-size: 12px;
    }

    .remove-product {
      color: rgb(179, 35, 35);
      cursor: pointer;
    }
  }
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      width: 25px;
      height: 30px;
      text-align: center;
      outline: none;
      border: 0;
      background-color: #c0cbd1;
    }
    button {
      width: 25px;
      margin: 0;
      height: 30px;
      border-radius: 2px;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
