.ProductCardBox {
  background-color: #e5e3dd;
  width: 140px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 4px 5px #0000003d;
  gap: 20px;

  img {
    width: 120px;
    height: 140px;
  }

  h2 {
    font-size: 16px;
    margin-top: 5px;
    height: 35px;

    text-overflow: ellipsis;
    overflow: hidden;
  }

  span {
    font-size: 12px;
  }
}
