.cart-page {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

@media (min-width: 768px) {
  .cart-page {
    button {
      width: 180px;
    }
  }
  .cart-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
