.success-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  h1 {
    font-size: 22px;
  }

  img {
    width: 250px;
  }
}

@media (min-width: 768px) {
  .success-page {
    button {
      width: 180px;
    }
  }
}
