.home-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

@media (min-width: 768px) {
  .home-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
